.main {
  display: flex;
  justify-content: center;
}

.main .icon {
  font-size: 40px;
  padding: 10px;
}

.box {
  width: 500px;
  text-align: center;
  margin: 5px;
}

.item-img {
  width: 400px;
}