.spinner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.break-line{
    height: 50px;
}


.mb-20{
    margin-bottom: 20px;
}

.ml-20{
    margin-left: 20px;
}

.mt-20{
    margin-top: 20px;
}

.paginate-box{
    display: flex;
    justify-content: center;
    
}