.review-box{
    border: 1px solid red;
    border-radius: 10px;
    margin : 20px 0px 20px 0px;
}

.review-box *{
    padding: 15px;
}

.toggle-button{
    cursor: pointer;
    white-space: nowrap;
}