.carousel-container{
    overflow: hidden;
    height: 440px;
    
}

/* 모바일 */
/* @media (max-width:550px){
    .carousel-container{
        height: 330px;
    }
} */

.movie-slider{
    transform: translateX(-50%);
}


