.banner{
    height : 64vh;
    background-position: left;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

/* 그라데이션효과 */
.banner:before{
    content:'';
    background:linear-gradient(to top, black, transparent);
    position: absolute;
    left:0;
    height: 64vh;
    width: 100%;
}

.banner-text-area{
    width: 36%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 2rem;
}

.banner-text-area > *{
    z-index: 2;
}

