.bg-black{
  background: black;
}

.cl-white a{
  color: white;
  padding: 10px;
  text-decoration: none;
}

.custom-form-control {
  background: rgb(44, 44, 44) !important;
  border: none !important ;
  color: white !important;
}

.custom-form-control::placeholder {
  color: rgba(255, 255, 255, 0.492) !important;
}

.custom-form-control:focus {
  outline: 0px solid rgba(158, 31, 31, 0.537) !important;
  border-color: rgba(158, 31, 31, 0.537) !important;
  box-shadow: 0 0 0 0.15rem rgba(158, 31, 31, 0.537) !important;
}


