.bg-black{
  background: black;
}

.cl-white a{
  color: white;
  padding: 10px;
  text-decoration: none;
}

.form-input-box{
  background-color: rgb(47, 47, 47);
  color: white;
  border-radius: 6px;
}

